@import "tailwindcss";

:root {
  --background: #faf9f6;
  --foreground: #171717;
  --primary: #b46d3f;

  --black-250: #292524;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-black-250: var(--black-250);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
